.inter-uniquifier {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
}

.inter-uniquifier-destaque {
  color: var(--corDestaque);
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
}
